# Binários gerados (build)
*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx

# Arquivos gerados automaticamente
*.cfg
*.hpp
*Resource.rc

# Arquivos locais 
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
*.dsv

# Backup / histórico (todas as pastas)
**/__history/
**/__recovery/
*.~*

# Pastas de saída padrão
**/Win32/
**/Win64/
**/OSX64/
**/OSXARM64/
**/Android/
**/Android64/
**/iOSDevice64/
**/Linux64/


# Dependências (Boss)
**/modules/
